
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        <h3 class="w3-bar-item">Admin Panel</h3>
        <a href="~/Admin/Index" class="w3-bar-item w3-button">Home Page</a>
        <a href="~/Admin/IconsList" class="w3-bar-item w3-button">Icons</a>
        <a href="~/HomePage/Index" target="_blank" class="w3-bar-item w3-button btn-info">Go to Website</a>
        <a href="#" class="w3-bar-item w3-button btn-danger">Exit</a>
        
    </div>

    <!-- Page Content -->
    <div style="margin-left:25%">

        <div class="w3-container " style=" background-image: linear-gradient(120deg, #e2ec78, #c360c0)">

            <h4 style="color: white">My Personal Website</h4>

        </div>


        <div class="w3-container">
            @RenderBody()
        </div>

    </div>

</body>
</html>
