@using MyPersonalWebsite.Models.Classes
@model List<Icons>

@{
    ViewBag.Title = "IconsList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="mt-1 mb-2">Icons Page</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Icon</th>
        <th>Update</th>
        <th>Delete</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td><i class="@item.IconName"></i></td>
            <td><a href="/admin/IconDetails/@item.Id" class="btn btn-success">Update</a></td>
            <td><a href="#" class="btn btn-danger">Delete</a></td>
        </tr>

    }
</table>
<a href="/Admin/NewIcon" class="btn btn-primary">Add New Icon</a>
