
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered mt-3 ">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Update</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Serpil</td>
        <td class="btn btn-primary">Update</td>
    </tr>
</table>


