*{
    margin: 0;
    padding: 0;
}
body{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(greeny.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 100vh ;
    display: flex;
    justify-content: center;
    align-items:center;
}
.center .avatar img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin-top: 5%;

}
.center{
    width:500px;
    background-color:rgb(239, 211, 242);;
    height: 600px;
    text-align: center;
    border-radius: 10px;
}
.content{
    padding: 20px;
}
h1{
    color:rgb(109, 91, 57);
    
}
.content h2, p{
    font-weight: lighter;
    letter-spacing: 0,2px;
    color:rgb(99, 89, 70);
    width:90%;
    margin:10px auto;

}
.content h2 {
    color:rgb(109, 91, 57);
}
.content h4{
    margin-top: 20px;
    color:rgb(109, 91, 57);
    margin-bottom: 20px;
    font-weight:250px; ;
    
}

div.social i{
    padding:0 10px;
    font-size: 30px;
    color: rgb(109, 91, 57, 0.6);
    transition:0.4s;
}

div.social i:hover{
    color:rgb(228, 182, 127);
}

@media  screen and (max-width:700px) {
    .center{
        width:300px;
        height: 550px;
    }
    h1{
        font-size:20px;
    }
    h2{
        font-size:14px;;
    }
    p{
        width:90%;
        font-size: 11px;
    }
    h4{
        font-size: 11px;
    }
    .social a i{
        font-size:20px;
        padding:0 5px;
    }
}
